* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Open Sans', sans-serif; }

.light, .btn-primary {
  background-image: linear-gradient(to left, violet, white);
  color: black; }

.dark {
  background-image: linear-gradient(to left, #ca2bca, #610d61, black);
  color: white; }

.header {
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #e935e9, white);
  align-items: center;
  margin-bottom: 3rem; }
  .headerh1 {
    color: white;
    font-size: 4rem; }
  .headerdiv {
    padding: 2rem; }
  .headerspan {
    color: black;
    text-decoration: underline; }
  .headerbutton {
    padding: 1rem; }
    .headerbuttonh3 {
      font-size: 1.5rem; }

.index {
  display: flex;
  flex-direction: column;
  gap: 5rem; }
  .indexcarrito {
    padding: 2rem;
    background-image: linear-gradient(to right, #eb64eb, white); }
  .indexdivfinal {
    display: flex;
    justify-content: end; }
    .indexdivfinalboton {
      padding: 1rem;
      background-image: linear-gradient(to right, white, #dd47dd);
      font-size: 1.1rem; }
  .indexh1, .indexsegundoh1 {
    font-size: 2.5rem;
    padding: 1rem;
    background-image: linear-gradient(to left, white, #f050f0);
    width: 100%;
    text-align: center;
    margin-top: 2rem; }
  .indexsection, .indexproductos, .indexproductos2, .indexproductos3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }

.card {
  position: relative;
  border-radius: 1rem; }

.card-title {
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #db54db;
  text-align: center; }

.btn-primary {
  background-color: #db54db;
  border: none;
  color: black; }

.card-img-top {
  max-height: 23rem;
  border-radius: 1rem; }

.card-body {
  background-image: linear-gradient(to bottom, white, violet, #e04fe0);
  border-radius: 1rem; }
