* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif; }

.header {
  background-color: orange; }
  .headeranchor {
    font-size: 2rem;
    color: white;
    text-align: end; }
  .headerh1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem;
    color: white;
    text-decoration: underline; }
  .headerspan {
    color: black; }

#index, #indexcontenedor {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly; }
  #indexcontenedor {
    gap: 1rem; }
  #indexcarritoh4 {
    text-align: center; }

.card-title {
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: orange;
  text-align: center; }

.btn-primary {
  background-color: orange;
  border: none;
  color: black; }
