* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.rem {
  font-size: 1rem; }

.px {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Open Sans', sans-serif; }

.light, .btn-primary {
  background-image: linear-gradient(to left, violet, white);
  color: black; }

.dark {
  background-image: linear-gradient(to left, #ca2bca, #610d61, black);
  color: white; }

.header {
  display: flex;
  justify-content: space-evenly;
  background-color: #db54db;
  align-items: center; }
  .headerh1 {
    color: white;
    font-size: 4rem; }
  .headerdiv {
    padding: 2rem; }
  .headerspan {
    color: black;
    text-decoration: underline; }
  .headerbutton {
    padding: 1rem; }
    .headerbuttonh3 {
      font-size: 1.5rem; }

.index {
  display: flex;
  flex-direction: column;
  gap: 5rem; }
  .indexcarrito {
    padding: 2rem; }
  .indexh1 {
    font-size: 3rem;
    padding: 2rem; }
  .indexsection, .indexproductos, .indexproductos2, .indexproductos3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }

.card {
  position: relative;
  border-radius: 1rem; }

.card-title {
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #db54db;
  text-align: center; }

.btn-primary {
  background-color: #db54db;
  border: none;
  color: black; }

.card-img-top {
  max-height: 23rem;
  border-radius: 1rem; }

.card-body {
  background-image: linear-gradient(to bottom, white, violet, #e04fe0);
  border-radius: 1rem; }
