*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rem{
    font-size: 1rem;
}

.px{
    font-size: 16px;
}   

h1,h2,h3,h4,h5,h6,p,a,button{
    font-family: 'Open Sans', sans-serif;
}

.light{
    background-image: linear-gradient(to left, violet,white);
    color: black;
}

.dark{
    background-image: linear-gradient(to left, rgb(202, 43, 202), rgb(97, 13, 97), black);
    color: white;
}

.header{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to right,rgb(233, 53, 233),white);
    align-items: center;
    margin-bottom: 3rem;

    &h1{
        color: white;
        font-size: 4rem;
        
    }

    &div{
        padding: 2rem;
    }

    &span{
        color: black;
        text-decoration: underline;
    }

    &button{
        padding: 1rem;

    &h3{
        font-size: 1.5rem;
    }
    }

}