#index{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &contenedor{
        display: flex;
        justify-content: space-evenly;
        margin-top: 1rem;
        gap: 1rem;
    }

    &carritoh4{
        text-align: center;
    }

    &carritoandproductos{
        display: flex;
        justify-content: space-evenly;
    }
}

.index{
    &bienvenida{
        text-align: center;
        text-decoration: underline;
    }
}

.card-title{
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: orange;
    text-align: center;
}
.btn-primary{
    background-color: orange;
    border: none;
    color: black;
}

