#index{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;

    &contenedor{
        @extend #index;
        gap: 1rem;
    }

    &carritoh4{
        text-align: center;
    }
}

.card-title{
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: orange;
    text-align: center;
}
.btn-primary{
    background-color: orange;
    border: none;
    color: black;
}

