.index{
    display: flex;
    flex-direction: column;
    gap: 5rem;

    &carrito{
        padding: 2rem;
        background-image: linear-gradient(to right,rgb(235, 100, 235),white);
    }

    &segundoh1{
        @extend .indexh1;
    }

    &divfinal{
        display: flex;
        justify-content: end;

        &boton{
            padding: 1rem;
            background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(221, 71, 221));
            font-size: 1.1rem;
        }
    }

    &h1{
        font-size: 2.5rem;
        padding: 1rem;
        background-image: linear-gradient(to left,white,rgb(240, 80, 240));
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    &section{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    &productos{
        @extend .indexsection;
    
        &2{
            @extend .indexsection;
        }

        &3{
            @extend .indexsection;
        }
    }
}

.card{
    position: relative;
    border-radius: 1rem;
}

.card-title{
    padding: 0.2rem;
    border-radius: 0.5rem;
    background-color: rgb(219, 84, 219);
    text-align: center;
}
.btn-primary{
    background-color: rgb(219, 84, 219);
    border: none;
    color: black;
}

.card-img-top{
    max-height: 23rem;
    border-radius: 1rem;
}

.card-body{
    background-image: linear-gradient(to bottom, white,violet,rgb(224, 79, 224));
    border-radius: 1rem;
}

.btn-primary{
    @extend .light;
}
